<div class="nav-align-top">
    <ul class="nav nav-pills flex-column flex-md-row mb-4">
        <li class="nav-item">
            <a class="nav-link {% if page_name == 'index' %}active{% endif %}" href="{{ url_for('menu.index') }}">
                <i class="bx bx-sm bx-donate-heart me-1_5"></i> Prediksi
            </a>
        </li>
        {#<li class="nav-item">
            <a class="nav-link" href="pages-account-settings-notifications.html"
            ><i class="bx bx-sm bx-bell me-1_5"></i> Notifications</a
            >
        </li>#}
        {#
        <li class="nav-item">
            <a class="nav-link {% if page_name == 'data' %}active{% endif %}" href="{{ url_for('menu.route_data') }}">
                <i class="bx bx-sm bx-data me-1_5"></i> Data
            </a>
        </li>
        #}
    </ul>
</div>